@import url("https://use.typekit.net/rsw3bla.css");
@import url("http://fonts.cdnfonts.com/css/saira");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Saira', sans-serif;
  background-color: #333333; }

main {
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  color: #ffffff; }

@media screen and (max-width: 760px) {
  main {
    padding: 0 1rem; } }

p {
  margin: 0; }

@media screen and (max-width: 1000px) {
  p {
    font-size: 0.9em; } }

@media screen and (max-width: 760px) {
  p {
    font-size: 0.8em; } }

a {
  text-decoration: none !important; }

button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #ffffff;
  padding: 0.3rem 1rem;
  border-radius: 6px; }

.navbar {
  background-color: #333333;
  box-shadow: 0 2px 3px #1a1a1a;
  height: 15vh;
  padding: 1rem 10%; }
  .navbar .nav-link {
    color: #ffffff !important;
    text-decoration: none;
    list-style: none; }
  .navbar img {
    object-fit: contain;
    height: 8rem;
    width: 8rem; }
  .navbar__auth {
    font-size: 0.8em; }
    .navbar__auth__join {
      border-radius: 18px;
      background-color: #ff6801;
      border-color: #1a1a1a; }
    .navbar__auth__login {
      border: none;
      color: #ff6801;
      padding: 0; }

@media screen and (max-width: 1000px) {
  .navbar {
    font-size: 0.8em; }
    .navbar img {
      object-fit: contain;
      height: 6rem;
      width: 6rem; } }

@media screen and (max-width: 992px) {
  .navbar {
    height: auto;
    padding: 0 10%; }
    .navbar-collapse {
      text-align: center; }
    .navbar__auth {
      margin-bottom: 1rem; } }

.hero {
  position: relative;
  color: #ffffff;
  margin-bottom: 1rem; }
  .hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 1rem;
    align-items: center; }
  .hero__banner {
    width: 100%; }
  .hero__join {
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .hero__join__text {
      font-size: 1.2em; }
    .hero__join__button {
      padding-right: 0;
      padding-left: 0;
      background-color: #ff6801;
      width: 100%; }
    .hero__join div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
  .hero__learnMore {
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly; }
    .hero__learnMore__text--secondary {
      font-weight: normal; }
    .hero__learnMore__button {
      font-size: 0.8em;
      color: #ff6801;
      border-color: #ff6801; }

@media screen and (max-width: 900px) {
  .hero__container {
    padding: 0 1rem 0 1rem; } }

@media screen and (max-width: 800px) {
  .hero__container {
    height: 70%; } }

@media screen and (max-width: 570px) {
  .hero__container {
    font-size: 0.8em;
    padding: 0; } }

@media screen and (max-width: 450px) {
  .hero {
    font-size: 0.8em; }
    .hero__container button {
      font-size: 0.8em; } }

@media screen and (max-width: 380px) {
  .hero__container button {
    padding: 0.1rem 0.8rem; } }

.learnMore {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem; }
  .learnMore__card {
    font-weight: bold;
    border-radius: 6px;
    background-color: #1a1a1a;
    max-height: 120px;
    width: 100%;
    padding: 1rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .learnMore__card__button {
      margin-top: 1rem;
      font-size: 0.8em; }

@media screen and (max-width: 970px) {
  .learnMore {
    scroll-snap-type: x;
    overflow: auto; }
    .learnMore__card {
      white-space: nowrap;
      padding: 1rem 2rem;
      height: 120px;
      width: auto; } }

.serviceDetails {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 0.8em;
  margin-bottom: 1rem; }
  .serviceDetails__item {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .serviceDetails__item div {
      line-height: 100%; }
    .serviceDetails__item__icon {
      height: 3rem;
      width: auto; }
    .serviceDetails__item__text--bold {
      font-weight: bold; }

.bitcoin {
  margin-bottom: 1rem;
  border-radius: 6px; }
  .bitcoin .carousel-item {
    border-radius: 6px; }
    .bitcoin .carousel-item img {
      border-radius: 6px; }
    .bitcoin .carousel-item .carousel-caption {
      padding: 0;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      bottom: 0;
      color: #ff6801; }

.games {
  display: flex;
  gap: 1rem;
  font-family: rubik, sans-serif; }
  .games__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    border-radius: 6px;
    padding: 2rem 1rem; }
    .games__container__title {
      font-size: 1.7em;
      font-weight: bold;
      font-family: 'Saira', sans-serif; }
    .games__container__subtitle {
      color: #ff6801;
      margin-bottom: 2rem; }
  .games__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem; }
    .games__card__itemContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.5rem; }
    .games__card__viewMore {
      font-size: 0.8em;
      width: 30%;
      padding-top: 0.5rem; }
    .games__card__title {
      font-size: 0.8em;
      align-items: center;
      width: 100%;
      padding-top: 0.5rem; }
    .games__card__item__link {
      width: 100%;
      border-radius: 6px; }
    .games__card__item {
      display: flex;
      flex-direction: column;
      height: 180px;
      border-radius: 6px;
      text-decoration: none; }
      .games__card__item__text {
        font-size: 0.8em;
        text-align: center;
        margin: 1rem auto 0 auto;
        color: #ffffff; }
      .games__card__item__img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        width: 100%;
        height: auto; }
    .games__card--purple .games__card__title,
    .games__card--purple .games__card__item {
      background-color: #6937e6; }
    .games__card--purple .games__card__viewMore {
      border-color: #6937e6; }
    .games__card--yellow {
      color: #1a1a1a; }
      .games__card--yellow .games__card__title {
        color: #1a1a1a; }
      .games__card--yellow .games__card__title,
      .games__card--yellow .games__card__item {
        background-color: #effd5f;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        .games__card--yellow .games__card__title__text,
        .games__card--yellow .games__card__item__text {
          color: #1a1a1a; }
      .games__card--yellow .games__card__viewMore {
        border-color: #effd5f; }
    .games__card--orange .games__card__title,
    .games__card--orange .games__card__item {
      background-color: #e0773e; }
    .games__card--orange .games__card__viewMore {
      border-color: #e0773e; }
    .games__card--red .games__card__title,
    .games__card--red .games__card__item {
      background-color: #c8302f; }
    .games__card--red .games__card__viewMore {
      border-color: #c8302f; }
    .games__card--green {
      color: #1a1a1a; }
      .games__card--green .games__card__title {
        color: #1a1a1a; }
      .games__card--green .games__card__title,
      .games__card--green .games__card__item {
        background-color: #6fe3a6;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0; }
        .games__card--green .games__card__title__text,
        .games__card--green .games__card__item__text {
          color: #1a1a1a; }
      .games__card--green .games__card__viewMore {
        border-color: #6fe3a6; }
    .games__card--blue .games__card__title,
    .games__card--blue .games__card__item {
      background-color: #0d49f5; }
    .games__card--blue .games__card__viewMore {
      border-color: #0d49f5; }

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  gap: 2rem; }
  .testimonials__title {
    font-size: 1.5em;
    font-weight: bold; }
  .testimonials__cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem; }
    .testimonials__cardContainer .testimonial__card {
      border: 4px solid #1a1a1a;
      border-radius: 6px;
      width: 20%;
      padding: 0.8rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .testimonials__cardContainer .testimonial__card div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.8rem; }
      .testimonials__cardContainer .testimonial__card__quote {
        height: 1.5rem;
        align-self: flex-start; }
        .testimonials__cardContainer .testimonial__card__quote--inverse {
          transform: scaleX(-1);
          align-self: flex-end; }
      .testimonials__cardContainer .testimonial__card__text, .testimonials__cardContainer .testimonial__card__user {
        text-align: center;
        font-size: 0.8em; }

.footer .about {
  padding: 0 10%;
  font-family: rubik, sans-serif;
  background-color: #ffffff;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem 0;
  gap: 3.2rem; }
  .footer .about__trustExperience {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    padding: 0 4rem; }
    .footer .about__trustExperience__line {
      display: flex;
      justify-content: space-around;
      width: 100%;
      align-items: center; }
      .footer .about__trustExperience__line--center {
        justify-content: center;
        gap: 0.5rem; }
    .footer .about__trustExperience__icon {
      height: 1.8rem;
      width: auto; }
      .footer .about__trustExperience__icon--title {
        height: 1.2rem !important; }
      .footer .about__trustExperience__icon--little {
        height: 1.5rem !important; }
  .footer .about__us {
    padding: 0 1.2rem;
    width: 25%; }
    .footer .about__us__title {
      font-weight: bold;
      margin-bottom: 0.8rem; }
    .footer .about__us__text {
      font-size: 0.8em;
      line-height: 100%; }
  .footer .about__customerService {
    width: 25%;
    display: flex;
    flex-direction: column; }
    .footer .about__customerService__title {
      font-weight: bold;
      margin-bottom: 0.8rem; }
    .footer .about__customerService__link {
      font-size: 0.8em;
      text-decoration: none;
      color: #1a1a1a; }
      .footer .about__customerService__link__icon {
        height: 1.7rem; }
        .footer .about__customerService__link__icon--little {
          height: 1.4rem; }

.footer .join {
  padding: 0.7rem 10%;
  display: flex;
  background-color: #ff6801;
  justify-content: space-between;
  align-items: center; }
  .footer .join__button {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0.1rem 2rem;
    border: 2px solid #fff; }
  .footer .join__text {
    color: #ffffff;
    font-size: 0.7em; }
