.navbar {
  background-color: $grey !important;
  box-shadow: 0 2px 3px $black;
  height: 15vh;
  padding: 0 10%;
  & .nav-link {
    color: $white !important;
    text-decoration: none;
    list-style: none;
  }
  & img {
    object-fit: contain;
    height: 8rem;
    width: 8rem;
  }
  &__auth {
    font-size: 0.8em;
    &__join {
      border-radius: 18px;
      background-color: $orange;
      border-color: $black;
    }
    &__login {
      border: none;
      color: $orange;
      padding: 0;
    }
  }
}

.hero {
  position: relative;
  color: $white;
  margin-bottom: 1rem;
  &__contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 1rem;
    align-items: center;
  }
  &__banner {
    width: 100%;
  }
  &__join {
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
      font-size: 1.2em;
    }
    &__button {
      padding-right: 0;
      padding-left: 0;
      background-color: $orange;
      width: 100%;
    }
    & div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__learnMore {
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    &__text--secondary {
      font-weight: normal;
    }
    &__button {
      font-size: 0.8em;
      color: $orange;
      border-color: $orange;
    }
  }
}

.learnMore {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  &__card {
    font-weight: bold;
    border-radius: 6px;
    background-color: $black;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__button {
      margin-top: 1rem;
      font-size: 0.8em;
    }
  }
}

.serviceDetails {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-size: 0.8em;
  margin-bottom: 1rem;
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & div {
      line-height: 100%;
    }
    &__icon {
      height: 3rem;
      width: auto;
    }
    &__text--bold {
      font-weight: bold;
    }
  }
}

.bitcoin {
  margin-bottom: 1rem;
  border-radius: 6px;
  .carousel-item {
    border-radius: 6px;
    // background-color: $orange;
    color: $white;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.games {
  display: flex;
  gap: 1rem;
  font-family: rubik, sans-serif;
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $black;
    border-radius: 6px;
    padding: 2rem 1rem;
    // gap: 2rem;
    &__title {
      font-size: 1.7em;
      font-weight: bold;
      font-family: 'Saira', sans-serif;
    }
    &__subtitle {
      color: $orange;
      margin-bottom: 2rem;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    &__itemContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0.5rem;
    }
    &__viewMore {
      font-size: 0.8em;
      width: 30%;
      padding-top: 0.5rem;
    }
    &__title {
      font-size: 0.8em;
      align-items: center;
      width: 100%;
      padding-top: 0.5rem;
    }
    &__item {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 180px;
      border-radius: 6px;
      &__text {
        font-size: 0.8em;
        text-align: center;
        margin: 1rem auto 0 auto;
      }
      &__img {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        width: 100%;
        height: auto;
      }
    }
    &--purple {
      .games__card__title,
      .games__card__item {
        background-color: $purple;
      }
      .games__card__viewMore {
        border-color: $purple;
      }
    }
    &--yellow {
      color: $black;
      .games__card__title {
        color: $black;
      }
      .games__card__title,
      .games__card__item {
        background-color: $yellow;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .games__card__viewMore {
        border-color: $yellow;
      }
    }
    &--orange {
      .games__card__title,
      .games__card__item {
        background-color: $orangeGame;
      }
      .games__card__viewMore {
        border-color: $orangeGame;
      }
    }
    &--red {
      .games__card__title,
      .games__card__item {
        background-color: $red;
      }
      .games__card__viewMore {
        border-color: $red;
      }
    }
    &--green {
      color: $black;
      .games__card__title {
        color: $black;
      }
      .games__card__title,
      .games__card__item {
        background-color: $green;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .games__card__viewMore {
        border-color: $green;
      }
    }
    &--blue {
      .games__card__title,
      .games__card__item {
        background-color: $blue;
      }
      .games__card__viewMore {
        border-color: $blue;
      }
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
  gap: 2rem;
  &__title {
    font-size: 1.5em;
    font-weight: bold;
  }
  &__cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    .testimonial__card {
      border: 4px solid $black;
      border-radius: 6px;
      width: 20%;
      padding: 0.8rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0.8rem;
      }
      &__quote {
        height: 1.5rem;
        align-self: flex-start;
        &--inverse {
          transform: scaleX(-1);
          align-self: flex-end;
        }
      }
      &__text,
      &__user {
        text-align: center;
        font-size: 0.8em;
      }
    }
  }
}

.footer {
  .about {
    padding: 0 10%;

    font-family: rubik, sans-serif;
    background-color: $white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 2rem 0;
    gap: 3.2rem;
    &__trustExperience {
      width: 25%;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      align-items: center;
      padding: 0 4rem;
      &__line {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;
        &--center {
          justify-content: center;
          gap: 0.5rem;
        }
      }

      &__icon {
        height: 1.8rem;
        width: auto;

        &--title {
          height: 1.2rem !important;
        }
        &--little {
          height: 1.5rem !important;
        }
      }
    }
    &__us {
      padding: 0 1.2rem;
      width: 25%;
      &__title {
        font-weight: bold;
        margin-bottom: 0.8rem;
      }
      &__text {
        font-size: 0.8em;
        line-height: 100%;
      }
    }
    &__customerService {
      width: 25%;
      display: flex;
      flex-direction: column;
      &__title {
        font-weight: bold;
        margin-bottom: 0.8rem;
      }
      &__link {
        font-size: 0.8em;
        text-decoration: none;
        color: $black;
        &__icon {
          height: 1.7rem;
          &--little {
            height: 1.4rem;
          }
        }
      }
    }
  }
  .join {
    padding: 0.7rem 10%;
    display: flex;
    background-color: $orange;
    justify-content: space-between;
    align-items: center;
    &__button {
      font-size: 0.9em;
      font-weight: bold;
      padding: 0.1rem 2rem;
      border: 2px solid #fff;
    }
    &__text {
      color: $white;
      font-size: 0.7em;
    }
  }
}
